body, html {
    margin:0;
    padding: 0;
    height: 100%;
    background-color: #cccccc;
}
.container{
    width: 80%;
    height: 100%;
    /* background-color: #ff6500; */
    margin:0 auto;/* Alinhamento central */
    display:grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px auto 150px;
    grid-template-areas: "cabecalho cabecalho" 
                         "secao barra-lateral" 
                         "rodape rodape";
    
}
header{
    /* background-color: #48CFE0; */
    grid-area:cabecalho ;
}
main{
    /* background-color: #E05DA1; */
    grid-area:secao;
    display:flex;
    flex-wrap: wrap;
}
aside{
    /* background-color: #E0D475; */
    grid-area:barra-lateral;
}
footer{
    /* background-color: #23b80f; */
    grid-area:rodape;
}



































/*
display: grid;
grid-template-columns: 75% 25%;
grid-template-rows: 100px 450px 150px;
grid-template-areas: "cabecalho cabecalho" 
                     "secao barra-lateral" 
                     "rodape rodape";

                     header {
   grid-area: cabecalho;
   background-color: #48CFE0;
}

section {
    grid-area: secao;
    background-color: #E05DA1;
 }

 aside {
    grid-area: barra-lateral;
    background-color: #E0D475;
 }

 footer {
    grid-area: rodape;
 }
*/